/* Fonts */
@font-face {
    font-family: Bebas; /* Имя шрифта */
    src: url(../fonts/BebasNeue.otf); /* Путь к файлу со шрифтом */
}
/* End of fonts */

.content {
	width: 900px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/* headder */
header {
	padding: 10px 0;
}
#logo {
	display: block;
	float: left;
	width: 100px;
}
#top-menu {
	left: 140px;
	position: absolute;
	bottom: 2px;
}
#top-menu a {
	font-size: 30px;
	margin-right: 30px;
	font-family: Bebas;
	text-decoration: none;
	color: black;
	display: inline-block;
	border-bottom: 2px solid transparent;
}
#top-menu a:hover { 
	border-bottom: 2px solid #a1a109;
}
.search {
	position: absolute;
	bottom: 8px;
	right: 0;
	width: 24%;
}
.search input {
	padding-right: 22px;
	font-size: 14px;
	height: 26px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.search a {
	font-size: 18px;
	position: absolute;
	right: 6px;
	top: 2px;
	color: black;
}
header .social-icons {
	position: absolute;
	top: 5px;
	right: 0;
}
header .social-icons a {
	color: #222;
}
/* end of headder */

/* main */
#main {
	background-color: #f7f7f7;
}
#posts .content {
	padding-top: 50px;
}
.center {
	width: 70%;
	float: left;
}
#main #popular-posts {
	width: 24%;
	margin-left: 76%;
}
#popular-posts h3 {
	font-weight: 100;
	font-family: Bebas;
	font-size: 24px;
	margin: 0;
}
.pp-item {
	padding-top: 10px;
	margin: 10px 0;
	border-top: 1px solid #1d1d1d;
	overflow: hidden;
}
.pp-i {
	float: left;
	overflow: hidden;
	width: 40%;
	max-height: 100px;
}
.pp-i img {
	width: 100%;
	min-height: 100%;
}
.pp-o {
	width: 56%;
	margin-left: 44%;
}
.pp-o a {
	color: black;
	text-decoration: none;
}
.pp-o a:hover {
	text-decoration: underline;
}
.post {
	font-family: "Open Sans";
	margin-bottom: 35px;
	padding-bottom: 25px;
    border-bottom: 1px solid #e2e2e2;
}
.post:last-child {
	border-bottom: 0;
}
.image-and-info {
	overflow: hidden;
	position: relative;
	max-height: 300px;
}
.image-and-info img {
	min-width: 100%;
}
.date, .author {
	position: absolute;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.7);
    color: white;
	bottom: 0;
}
.date {
	left: 0;
}
.author {
	right: 0;
}
.post p {
	font-size: 14px;
}
#about {
	padding: 20px 0;
	background-color: #e3e3e3;
	font-family: "Open Sans";
	font-size: 14px;
}

/* Start FOOTER */
footer {
	background-color: #1d1d1d;
	padding-bottom: 3px;
}
footer .content {
	position: relative;
	height: 100%;
	padding: 20px;
	display: flex;
	align-items: top;
	justify-content: space-between;
}
footer a, footer p {
    color: rgba(255, 255, 255, 0.65);
    font-family: "Open Sans";
    font-size: 14px;
}
.bottom-nav {
	width: 40%;
}
.bottom-nav a {
	display: inline-block;
	width: 49%;
	margin-bottom: 5px;
    text-decoration: none;
}
.bottom-nav a:hover {
	text-decoration: underline;
}
.rights-reserved {
	text-align: center;
	margin: 0;
	font-size: 12px;
}
footer .social-icons {
	width: 40%;
	text-align: right;
}
.social-icons a {
	font-size: 32px;
	margin-right: 5px;
}
/* END OF footer */